body{
    background-color: violet;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mytodo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: white;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: red;
    color: aliceblue;

}
.todoapp{
    color: rgb(243, 220, 12);
    font-family: sans-serif;
    text-align: center;
    
}

.app{
    background-color: rgba(0, 0, 0, 0.473);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
}
.myform{
    width: 438px;
    margin: auto;
}

.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.mybtn{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    font-weight: bold;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
}
.title{
    color: white;
    font-family: sans-serif;
}
.title-box{
    padding: 5px;
    width:70%;
    border: none;
    border-radius: 5px;
    margin: 5px;
}