.apps{
  width: 300px;
  background-color: teal;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
.header-title{
  color: violet;
  font-family: sans-serif;
}
.count-title{
  color: aqua;
}
.count-value{
  color: yellow;
  font-family: sans-serif;
}
.btn{
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 60px;
  font-weight: bold;
  color: white;
  background-color: darkslateblue;
}
.btn:hover{
  background-color: tomato;
  color: black;
}
.btn:disabled{
  background-color: gray;
  color:black;
}
